.mentor-home-page {
    max-width: 800px;
    margin: 100px auto 50px;
    padding: 20px;
    text-align: center;

}

/*.mentor-home-content {*/
/*    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
/*    border-radius: 20px;*/
/*    padding: 40px;*/
/*    box-shadow: 0 10px 30px rgba(0,0,0,0.1);*/
/*}*/

.mentor-home-content h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: 300;
}

.thank-you-message {
    /*background: white;*/
    border-radius: 15px;
    padding: 30px;
    margin: 30px 0;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}

.thank-you-message h2 {
    color: #bb8588;
    font-size: 30px;
    font-family: "DM Serif Text", serif;
    font-weight: 600;
}

.thank-you-message p {
    color: #666;
    font-size: 1.1em;
    line-height: 1.6;
    margin: 10px 0;
}

.mentor-stats {
    margin-top: 40px;
}

.stat-card {
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
    margin: 20px 0;
}

.stat-card h3 {
    color: #bb8588;
    font-size: 30px;
    font-family: "DM Serif Text", serif;
    font-weight: 600;
}

.stat-card p {
    /*color: #666;*/
    font-size: 1em;
    line-height: 1.5;
}
