.navbar{
    right: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #33353F;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    background-color: #f8f8f8;
}

.navbar .title{
    text-decoration: none;
    color: inherit;
}

.logo {
    height: 70px;
    width: auto;
}

.navbar-user{
    margin-left: 6px;
    display: flex;
    padding: 2px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}


.navbar-guest .log-in {
    background-color: #BB8588;
    color: white;
    margin-right: 6px;
}

.navbar-guest .sign-up {
    background-color: #EFEBCE;
    color: black;
}

.navbar-guest .log-in:hover {
    background-color: rgba(187, 133, 136, 0.72);
}

.navbar-guest .sign-up:hover {
    background-color: rgba(239, 235, 206, 0.76);

}


.navbar-logged-in .user-avatar{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.navbar-logged-in .user-avatar:hover {
    transform: scale(1.1);
}

.menu-link {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: block;
    font-size: 18px;
}

